.navbar-brand {
    padding: 0;
}
#masthead {
    min-height: 250px;
}

    #masthead h1 {
        font-size: 30px;
        line-height: 1;
        padding-top: 20px;
    }

    #masthead .well {
        margin-top: 8%;
    }

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 50px;
    }
}

.navbar-bright {
    background-color: #111155;
    color: #fff;
}

.affix-top, .affix {
    position: static;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 30px;
        width: 228px;
    }

    #sidebar.affix {
        position: fixed;
        top: 70px;
        width: 228px;
    }
}

#sidebar li.active {
    border: 0 #eee solid;
    border-right-width: 5px;
}


.top-buffer {
    margin-top: 20px;
}

.callout {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}

.callout h4 {
margin-top: 0;
margin-bottom: 5px;
}

.callout-warning {
border-left-color: #f0ad4e;
}

.callout-danger {
border-left-color: #d9534f;
}

.callout-info {
border-left-color: #5bc0de;
}

.callout-warning h4 {
color: #f0ad4e;
}

.callout-danger h4 {
color: #d9534f;
}

.callout-info h4 {
color: #5bc0de;
}

.text-warning {
color: #f0ad4e;
}

.text-danger {
color: #d9534f;
}

.text-info {
color: #5bc0de;
}

/*  ng-hide Animation  */
.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove{
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.slidemenu{
    position: fixed;               
    top: 50px;
    left: -125px;
    width: 150px;
    -webkit-transition: all 500ms ;
    -moz-transition: all 500ms ;
    -ms-transition: all 500ms ;
    -o-transition: all 500ms ;
    transition: all 500ms ;
}

.slidemenu.open{
  left:0;
  
}