<div class="container" ng-controller="clientCtrl as vm">
    <div class="row top-buffer">
        <div class="col-md-12 text-center">
            <h3 ng-show="vm.activeClient.name == 'Hain Celestial'" class="text-danger"><strong><i class=" fa fa-times-circle-o fa-4x" style="vertical-align: middle; "></i> <span>There was a problem loading the date, please contact support.</span></strong></h3>
            <h3 ng-show="vm.activeClient == null" class="text-info"><strong><i class=" fa fa-arrow-circle-o-right fa-4x" style="vertical-align: middle; "></i> <span>Select a client to begin.</span></strong></h3>
            <h3 ng-show="vm.activeClient.name == 'SLVHA'" class="text-warning"><strong><i class=" fa fa fa-exclamation-circle fa-4x" style="vertical-align: middle; "></i> <span>ETL setup required.</span></strong></h3>
            <h3 ng-show="vm.activeClient.name == 'On The Border'" class="text-success"><strong><i class=" fa fa-check-circle-o fa-4x" style="vertical-align: middle; "></i> <span>{{vm.activeClient.name}} Data was loaded on January 1, 2014.</span></strong></h3>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-3">
            <div class="input-group">
                <select class="form-control" ng-model="vm.activeClient" ng-options="client.name for client in vm.clients">
                    <option value="">-- Select Client --</option>
                </select>
                <span class="input-group-btn"><a href="#/settings" class="btn btn-default"><i class="fa fa-cog"></i></a></span>
            </div>
            <div ng-show="vm.activeClient.name == 'SLVHA'" class="callout callout-warning">
                <h4>Client setup required!</h4>
                <p>You will need a client map to get started. <a href="#/settings">Setup client now.</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <select class="form-control" ng-model="vm.activeAudit" ng-options="audit.name for audit in vm.audits">
                    <option value="">-- Select Audit --</option>
                </select>
                <span class="input-group-btn"><a href="#/audit" class="btn btn-default"><i class="fa fa-cog"></i></a></span>
            </div>
            <div ng-show="vm.activeAudit.name == 'Working Spouse Surcharge'" class="callout callout-danger">
                <h4>Problem detected!</h4>
                <p>There was a problem loading the data. <a href="#/audit">Check audit.</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <select class="form-control" ng-model="vm.activeProfile" ng-options="profile.name for profile in vm.profiles">
                            <option value="">-- Select Import Profile --</option>
                        </select>
                        <span class="input-group-btn"><a href="#/etlsettings" class="btn btn-default"><i class="fa fa-cog"></i></a></span>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            
        </div>
        <div class="col-md-3">
            <a href="#/batch" class="btn btn-primary btn-raised">Load Client Data <i class="fa fa-play"></i></a>
        </div>
    </div>
</div>